:root {
  --black: #1f1e25;
  --grey: #707c87;
  --light-grey: #f6f7ff;
  --white: #fff;
  --blue: #2c36f2;
  --black-shadow-color: rgba(31, 30, 37, 0.5);
  --btn-shadow: 0 5px 15px 0 var(--black-shadow-color);
  --desktop-width: 1170px;
  --font-family: 'Roboto', 'Arial', sans-serif;
}
