.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.page__container {
  margin: 0 auto;
  padding-bottom: 110px;
}

.page__banner {
  margin-bottom: 45px;
}

.page__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 41px;
  line-height: 57px;
}

.page__subtitle {
  margin: 0;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.page__converter-form {
  margin-bottom: 100px;
}
